{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <main class="form-signin w-100 m-auto">
    <h4 class="mb-3 fw-normal"><strong>Reset your password&nbsp;<i class="bi bi-person-fill-lock"></i></strong></h4>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <h6><small>
                We will send you a link to reset your password.
            </small></h6>
        </div>
        <button class="btn btn-info w-100 py-2">Send password reset email</button>
    {{ form_end(requestForm) }}
    </main>
{% endblock %}
