{% extends 'base.html.twig' %}

{% block title %}Coordinate{% endblock %}

{% block body %}
		<div class="container" id="coordinate_new">
		<div class="row mb-4">
			<div class="col-md-2">
				{% include('coordinate/side.html.twig') %}
			</div>
			<div class="col-md-10">
                <h1>Edit coordinate</h1>
				{% include 'coordinate/form_edit_coordinate.html.twig' with {' button_label' : 'Edit' } %}
			</div>
		</div>
	</div>
{% endblock %}

