{% extends 'base.html.twig' %}

{% block title %}Coordinate{% endblock %}

{% block body %}
		<div class="container" id="coordinate_new">
		<div class="row mb-4">
			<div class="col-md-2">
				{% include('coordinate/side.html.twig') %}
			</div>
			<div class="col-md-10">
				{% include('coordinate/coordinate_form.html.twig') %}
			</div>
		</div>
	</div>

{% endblock %}